<div class = "a">ウマ娘一覧</div>

<div class="all_horse">
    <h2>☆3</h2>
<%= link_to("オグリキャップ", "/posts/オグリキャップ") %><br>
<%= link_to("カレンチャン", "/posts/カレンチャン") %><br>
<%= link_to("サイレンススズカ", "/posts/サイレンススズカ") %><br>
<%= link_to("シンボリルドルフ", "/posts/シンボリルドルフ") %><br>
<%= link_to("スペシャルウィーク", "/posts/スペシャルウィーク") %><br>
<%= link_to("スマートファルコン", "/posts/スマートファルコン") %><br>
<%= link_to("タイキシャトル", "/posts/タイキシャトル") %><br>
<%= link_to("テイエムオペラオー", "/posts/テイエムオペラオー") %><br>
<%= link_to("トウカイテイオー", "/posts/トウカイテイオー") %><br>
<%= link_to("新トウカイテイオー", "/posts/新トウカイテイオー") %><br>
<%= link_to("ナリタタイシン", "/posts/ナリタタイシン") %><br>
<%= link_to("ナリタブライアン", "/posts/ナリタブライアン") %><br>
<%= link_to("ビワハヤヒデ", "/posts/ビワハヤヒデ") %><br>
<%= link_to("マルゼンスキー", "/posts/マルゼンスキー") %><br>
<%= link_to("ミホノブルボン", "/posts/ミホノブルボン") %><br>
<%= link_to("メジロマックイーン", "/posts/メジロマックイーン") %><br>
<%= link_to("新メジロマックイーン", "/posts/新メジロマックイーン") %><br>
<%= link_to("ライスシャワー", "/posts/ライスシャワー") %><br>
<%= link_to("花嫁マヤノトップガン", "/posts/花嫁マヤノトップガン") %><br>
<%= link_to("花嫁エアグルーヴ", "/posts/花嫁エアグルーヴ") %><br>
<%= link_to("セイウンスカイ", "posts/セイウンスカイ") %><br>
<h2>☆2</h2>
<%= link_to("ウオッカ", "/posts/ウオッカ") %><br>
<%= link_to("エアグルーヴ", "/posts/エアグルーヴ") %><br>
<%= link_to("エルコンドルパサー", "/posts/エルコンドルパサー") %><br>
<%= link_to("グラスワンダー", "/posts/グラスワンダー") %><br>
<%= link_to("ゴールドシップ", "/posts/ゴールドシップ") %><br>
<%= link_to("スーパークリーク", "/posts/スーパークリーク") %><br>
<%= link_to("ダイワスカーレット", "/posts/ダイワスカーレット") %><br>
<%= link_to("マヤノトップガン", "/posts/マヤノトップガン") %><br>
<h2>☆1</h2>
<%= link_to("アグネスタキオン", "/posts/アグネスタキオン") %><br>
<%= link_to("ウイニングチケット", "/posts/ウイニングチケット") %><br>
<%= link_to("キングヘイロー", "/posts/キングヘイロー") %><br>
<%= link_to("サクラバクシンオー", "/posts/サクラバクシンオー") %><br>
<%= link_to("ナイスネイチャ", "/posts/ナイスネイチャ") %><br>
<%= link_to("ハルウララ", "/posts/ハルウララ") %><br>
<%= link_to("マチカネフクキタル", "/posts/マチカネフクキタル") %><br>
<%= link_to("メジロライアン", "/posts/メジロライアン") %><br>
</div>